*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
}

body {
    background-color: black;
}

.menu-list {
    display: flex;
    list-style: none; /* para remover marcadores de lista */
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 300px;
    /*coloca o item mesmo estando na body no topo da página */
    position: absolute;
    top: 0;   
}

/* botao menu de cervejas Inicio*/
.mainmenu {  
    color: rgb(79, 2, 114);
    text-decoration-line: underline;
    cursor: pointer;
    padding:20px;
    
}

.mainmenu:hover {
    background-color: transparent;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.submenu {
    position: absolute;
    z-index: 3;
    width: 13vh;
    display: none;
    background: linear-gradient(30.15deg, #ffbf00 16.62%, #ffffff 85.61%)  ;
}

.submenu a{
    text-transform:capitalize;
    text-decoration: none;
   color: black;
}
.dropdown:hover .submenu {
    display: block;  
}
/* botao menu de cervejas Fim*/

.menu-list li {
    margin-right: 70px; /* para adicionar espaço entre os itens */
}

.logo{
    width: 20vh;
    max-width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    position: absolute;
    z-index: 3;
}

h1 {
    color: #ffffff;
    font-family: 'Verdana', sans-serif;
    font-size: 60px;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 230px;
}

h2 {
    color: #c24729;
    font-family: 'New Rocker', cursive;
    font-size: 50px;
}

p {
    color: white
    
}

.bkheader {
    width: 100%;
    height: 400px;
    

}

#imgContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* o container de imagens ocupará toda a largura da tela*/
    height: 400px; /* 400 pixels de altura */
    overflow: hidden; /* esconde a parte da imagem que ultrapassar o tamanho ou a altura desse container*/
  }
  #imgContainer img {
    /* adicionando efeitos para as imagens que estão dentro do container*/
    width: 100%; /*ocupará toda a largura do container*/
    height: 100%; /*ocupará toda a altura do container*/
    display: inline-block; /* organiza as imagens em linha*/
  }

footer {
    color: black;
    background-color: #c24729;
    font-family: 'New Rocker', cursive;
    margin-top: 20px;
}



.btnwhats {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    position: fixed;
    animation: tremer 1.5s linear infinite;
    z-index: 3;
}

.pulse {

    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 50px;
    right: 50px;
    background-color: rgba(211, 147, 37, 1);
    color: rgb(211, 147, 37);
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
    z-index: 2;
}

@keyframes pulse {
    0% {box-shadow: 0 0 0 0 rgba(211, 147, 37, 1);}
    100% {box-shadow: 0 0 0 50px rgba(37, 211, 102, 0); }
    0% {transform: translate(1px,1px); rotate:(0deg);}
}

@keyframes tremer {
5% {transform: translate(-1px,-2px); rotate:(-1deg);}
10% {transform: translate(-2px,0px); rotate:(1deg);}
15% {transform: translate(2px,2px); rotate:(0deg);}
20% {transform: translate(1px,-1px); rotate:(1deg);}
15% {transform: translate(-1px,2px); rotate:(-1deg);}
30% {transform: translate(-2px,1px); rotate:(0deg);}
35% {transform: translate(2px,1px); rotate:(-1deg);}
40% {transform: translate(-1px,-1px); rotate:(1deg);}
45% {transform: translate(1px,2px); rotate:(0deg);}
50% {transform: translate(1px,-2px); rotate:(-1deg);}
55% {transform: translate(1px,1px); rotate:(0deg);}
60% {transform: translate(1px,1px); rotate:(0deg);}
65% {transform: translate(1px,1px); rotate:(0deg);}
70% {transform: translate(1px,1px); rotate:(0deg);}
75% {transform: translate(1px,1px); rotate:(0deg);}
80% {transform: translate(1px,1px); rotate:(0deg);}
85% {transform: translate(1px,1px); rotate:(0deg);}
90% {transform: translate(1px,1px); rotate:(0deg);}
95% {transform: translate(1px,1px); rotate:(0deg);}
100% {transform: translate(1px,1px); rotate:(0deg);}
}
